/* Document/styles.module.css - Styles for Document
 *
 * Written by Brett Broadhurst <brettbroadhurst@gmail.com>
 */

.doc {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #202124;
  border-radius: 4px;
  width: 100%;
  height: 184px;
  color: #202124;
}

.doc p {
	font-size: 1.2rem;
	font-weight: 600;
}

a {
  text-decoration: none;
}
