.options {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	height: 100%;
}
.select h2 {
	font-size: 2.4rem;
	font-weight: 600;
	padding: 1em;
	text-align: center;
}
